* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  /* text-align: center; */
width: 100%;
margin: auto;
}
.container-contents {
  display: flex;
border: 2px solid red;
height: 100%;
}
.container-contents-left-side {
  width: 30%;
  margin: auto;
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  text-align: center;
  /* height: 100%; */
}
nav div {
  margin: 20px 0;
}
nav span {
 font-size: .8em;
 opacity: .5;
}
.personal-links li  {
  opacity: 50%;
}
.container-contents-main {
  width: 100%;
  margin: 20px;
  border: 2px solid blue;
  /* display: flex;
  justify-content: center; */
}
nav {
  display: flex;
  /* border: 2px solid red; */
  /* margin: auto; */
}
nav li {
  list-style-type: none;
  padding: 5px;
}
a {
text-decoration: none;
color: #000;
}


.post {
  border: 5px solid purple;
  /* width: 100%;
  margin: auto; */
}
.post .profile-info-container {
  border: 3px solid red;
  display: flex;
  justify-content: space-around;
}
.post .profile-info {
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 100%
}
.post .follow-btn {
  /* justify-content: end; */
  display: flex;
  border: 2px solid blue;
  align-items: center;
  justify-content: end;
  padding: 10px;
}
.follow-btn button {
  background-color: #fff;
  color:#000;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-out;
}
.follow-btn button:hover {
  transition: .1s ease-in;
  background-color: #000;
  color:#fff
}
.post .post-info {
  padding: 0px 10px 10px;
}
.post img {
  border-radius: 50%;
  width: 70px;
}
