* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  /* text-align: center; */
width: 100%;
margin: auto;
}
.top-nav {
  display: flex;
  /* border:2px solid red; */
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1.5px solid rgb(92, 92, 92);
}
.top-nav ul {
  display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
/* border:2px solid red; */
margin: 25px;
}
.top-nav-left {
  font-weight: bold;
  font-size: 1.3em;
  /* border: 2px solid red; */
}
.top-nav-left input {
  background-color: #fff; 
  padding: 5px 15px;
  border-radius: 5px;
  width:100%
}
.top-nav-left input:focus {
  outline: none;
}
.container-contents {
  display: flex;
/* border: 2px solid red; */
height: 100%;
position: relative;
}
.container-contents-left-side {
  border-right: 1.5px solid rgb(92, 92, 92);
  width: 120px;
  /* border: 2px solid blue; */
  /* display: flex; */
  /* justify-content: center; */
  /* text-align: center; */
  height: 100vh;
  overflow-y: scroll;
  position:fixed;
  top:50;
  /* padding: 20px 0px; */
  /* z-index:1; */
}
.container-contents-left-side nav {
text-align: center;
  justify-content: center;
  z-index:0;
}

::-webkit-scrollbar {
/* display: none; */
}

.container-contents-main {
  /* border-top:1px solid #000;  */
  /* border-radius: 20px; */
  width: auto;
  /* margin-right: 100px; */
  /* border: 2px solid blue; */
  /* display: flex; */
  justify-content: center;
  right:0;
  left:120px;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  scroll-behavior:smooth;
}

nav div {
  margin: 20px 0;
}
nav span {
 font-size: .8em;
 opacity: .5;
}
.personal-links li  {
  opacity: 50%;
}
nav li {
  list-style-type: none;
  padding: 5px;
}
a {
text-decoration: none;
color: #000;
}

.back-to-top {
  position:fixed;
  bottom: 20px;
  right:40px;
}
.post {
  /* border: 5px solid purple; */
  width: 100%;
}
.post .profile-info-container {
  /* border: 3px solid red; */
  display: flex;
}
.post .profile-info {
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 100%;
  margin-right: auto;
}
.post video {
  width:360;
  height: 540px;
  /* border: 2px solid red; */
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  background-color: #000;
}
.post .follow-btn {
  /* justify-content: end; */
  display: flex;
  /* border: 2px solid blue; */
  align-items: center;
  justify-content: end;
  padding: 10px;
}
.post button,.top-nav button,.account-form button {
  background-color: #fff;
  color:#000;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-out;
}
.top-nav button {
  width: 100px;
}
.post button:hover,.top-nav button:hover {
  transition: .1s ease-in;
  background-color: #000;
  color:#fff
}
.post .post-info {
  /* padding: 0px 10px; */
  display: flex;
  flex-wrap: wrap;
justify-content: start;
}
.post .post-info-description {
  /* border: 2px solid red; */
  display: inline-block;
  width:400px;
}
.post .post-info-description div {
  padding:10px;
}
.post img {
  border-radius: 50%;
  width: 70px;
}
.post .post-action-btn {
  display: flex;
  /* border:2px solid red; */
  justify-content: space-between;
}
.post-action-btn button {
  width: 33%;
  /* height:50px; */
}


.account-form {
  display: flex;
  /* align-items: center; */
  /* border: 2px solid red; */
  justify-content: center;
  /* margin: auto; */
  flex-direction: column;
}
.login, .signup,h1, .account-form button {
  /* border:2px solid red; */
  justify-content: center;
  display: flex;
}
.account-form form input {
display: flex;
/* border:2px solid red; */
width: 300px;
/* max-width: 80%; */
margin: 10px;
height: 3em;
border-radius: 5px;
text-align: center;
align-items: center;
/* height: 100%; */
}
.account-form button {
  display: flex;
/* border:2px solid red; */
width: 300px;
/* max-width: 80%; */
margin: 10px;
height: 2em;
border-radius: 5px;
text-align: center;
align-items: center;
font-size: 1.2em;
cursor: pointer;
}
.account-form button:hover {
background-color: rgb(0, 0, 0);
color:#fff
}

.form-modal {
  position:fixed;
  top:50%;
  /* right:50%; */
  left:50%;
  /* bottom:50%; */
  transform: translate(-50%,-50%) scale(1);
  /* transition: 200ms ease-in-out; */
  z-index: 5;
  background-color: #fff;
  /* border: 2px solid red; */
  border-radius: 20px;
  height: fit-content;
  width:500px;
  max-width: 80%;
}
/* .form-modal.active {
  transform: translate(-50%,-50%) scale(1);
} */
.form-modal-header {
  display: flex;
  justify-content: end;
}
.form-modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-weight: bold;
  font-size: 1.25rem;
  /* position: absolute; */
  /* padding: 5px; */
}
.form-modal-header {
  padding: 10px 15px;
}
#overlay {
  position: fixed;
  /* opacity: 0; */
  transition:200ms ease-in-out;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,.7);
  pointer-events: none;
  z-index: 1;
}
#overlay.active{
  pointer-events: all;
  opacity: 1;
}
